# node
node_modules/
npm-debug.log
.env

# frontend build
Front-End/crud_app/dist
Front-End/crud_app/build
Front-End/crud_app/node_modules
Front-End/crud_app/.env
# backend build
backend/dist

# OS
.DS_Store
Thumbs.db